
.label {
    color: white;
    font-family: 'Roboto', sans-serif;


}

.input {
    margin-top: 0.5rem;
    width: 97%;
    height: 2.5rem;
    border-radius: 15px;
    border-color: white;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

.text-area {
    margin-top: 0.5rem;
    width: 97%;
    height: 8rem;
    border-radius: 15px;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    
}   

.menu {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    text-align: left;
    font-size: 12px;
    background-color: white;
    color: black;

}